<div class="o-x-h w-100">

    <!--Main Navigation-->
    <div class="sidenav-overlay zi-1500" #overlay *ngIf="currentState" [@fadeInOut]>{{isClickMenu}}</div>
    <div class="sidenav-menu blue-gradient zi-1500" #menu  (clickOutside)="onClickOutside();">

        <!--sidenav Top-->
      <div class="p-r">
        <!--Close sidenav-->
        <a class="close-menu p-a" (click)="onClickOutside();">
          <img src="base_style/img/svg/arrow-left-solid.svg" alt="">
        </a>
        <!--Edit profile btn-->
        <a class="edit-profile p-a" routerLink="/personal-area/profile-edit">
          <img src="base_style/img/svg/pencil-alt-solid.svg" alt="" >
        </a>
      </div>
        <a class="sidenav-menu__top d-b my-4 text-white" (click)="backDoor()">
            <div class="t-c">
                <img [src]="user?.photoLink"
                     routerLink="/personal-area/profile-info"
                     class="img-fluid z-depth-1 rounded-circle mx-auto"
                     alt="user-profile-photo" style="height: 65px;">
            </div>
            <div class="t-c t-w mt-2">
        <span>
          {{user?.name}} {{user?.second_name}}
        </span>
            </div>
        </a>

        <!--sidenav body-->
        <div class="sidenav-menu__items d-f fd-c p-3">

            <a class="text-white" routerLink="/">
                <img src="base_style/img/svg/search-solid.svg" class="img-fluid" alt="">
                Поиск
            </a>

            <a class="text-white" routerLink="/personal-area/fire-yourself">
                <img src="base_style/img/svg/plus-solid.svg" alt="">
                Подать себя
            </a>

            <!--<a class="text-white" routerLink="/personal-area/">-->
                <!--<img src="base_style/img/svg/user-regular.svg" alt="">-->
                <!--Мои предложения-->
            <!--</a>-->

            <a class="text-white" routerLink="/personal-area/news">
                <img src="base_style/img/svg/newspaper-regular.svg" alt="">
                Лента новостей
            </a>

            <a class="text-white" routerLink="/personal-area/message">
                <img src="base_style/img/svg/envelope-regular.svg" alt="">
                Мои сообщения<span class="badge badge-primary badge-pill ml-2">+{{(countIncoming) | async}}</span>
            </a>

            <a class="text-white" routerLink="/personal-area/friends">
                <img src="base_style/img/svg/user-friends-solid.svg" alt="">
              Мои друзья<span class="badge badge-primary badge-pill ml-2">+{{(friendComing) | async}}</span>
            </a>

        </div>

        <!--sidenav footer-->
        <div class="sidenav-menu__footer d-f fd-c p-3">

            <!--<a class="text-white">-->
                <!--Настройки-->
            <!--</a>-->

            <a class="text-white" (click)="logout()">
                Выход
            </a>

        </div>
    </div>
</div>
