<app-sidenav *ngIf="isNotAuthState === true" [sideOut]="isOpen"></app-sidenav>

<div class="heaDS" style="background-color: #303f9f;">

  <div class="container">
    <!--Navbar-->

    <nav class="navbar navbar-expand navbar-dark z-depth-0 jc-b">

      <!-- Navbar brand -->
      <div class="sidenav-btn pt-2 pb-2" (click)="sendSNav()">
        <img src="base_style/img/svg/bars-solid.svg" class="c-p" alt="menu" style="height:25px;">
      </div>

      <div class="d-f" *ngIf="isNotAuthState === false">
        <button
          routerLink="/auth/sign-up"
          class="btn btn-rounded btn-indigo btn-sm px-2 m-0 d-b waves-effect waves-light mr-2">Зарегистрироватся
        </button>
        <button
          routerLink="/auth/log-in"
          class="btn btn-rounded btn-indigo btn-sm px-2 m-0 d-b waves-effect waves-light">Войти
        </button>
      </div>
    </nav>
    <!--Navbar-->
  </div>

</div>
